<nav th:fragment="nav_bar" class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between" style="margin-bottom: 0">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/api/v1/inicio}">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/api/v1/articulos/lista}">Productos</a>
    </li>
  </ul>

  <form class="d-inline-flex " style="width: 60%" th:action="@{/api/v1/articulos/busqueda}">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar camiseta" aria-label="Search" style="width: 80%" name="query">
    <button class="btn btn-outline-secundary my-2 my-sm-0" type="submit">Buscar</button>
  </form>

  <ul class="nav navbar-nav" >
    <li class="nav-item">
      <a class="nav-link" th:href="@{/api/v1/articulos/crud}">CRUD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/api/v1/articulos/carrito}">Carrito</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/api/v1/cuenta/Signin}">Sign in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/api/v1/articulos/signup}">Sign up</a>
    </li>
  </ul>
</nav>


HTML
<footer th:fragment="footer" class="bg-dark text-center text-white " style="margin-top: auto;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>