<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<header th:replace="components/header :: header "></header>
<body>
<nav th:replace="components/navbar :: nav_bar "></nav>
</br>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-4">

            <a th:href="@{/api/v1/articulos/nuevo}" class="btn btn-success ">Añadir nuevo producto</a>

        </div>
    </div>
</div>
</br>
<div class="container">
    <table class="table table-light" >
        <thead>
            <tr>
                <th>Codigo de producto</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio Unitario</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="articulo  :${nombreVariable}">
                <td th:text="${articulo.id}"></td>
                <td th:text="${articulo.nombre}"></td>
                <td th:text="${articulo.descripcion}">3</td>
                <td th:text="${articulo.precio}">15000</td>
                <td  class="d-inline-flex ">
                    <a th:href="@{/api/v1/articulos/formulario}" class="btn btn-warning ">Editar</a>
                    <a th:href="@{/api/v1/articulos/eliminar}" class="btn btn-danger ">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav th:replace="components/navbar :: footer "></nav>
</body>
</html>