<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<header th:replace="components/header :: header "></header>
<body>
<nav th:replace="components/navbar :: nav_bar "></nav>

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form  method="post">
                        <div class="row g-3 text-center">
                            <div class="form-group col-md-12">
                                <h4>¿Esta seguro de eliminar este videojuego? </h4>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col-md-6">
                                <button class="btn btn-outline-secondary" type="submit" style="width:100%">
                                    Si
                                </button>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-success"  style="width:100%">No</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<nav th:replace="components/navbar :: footer "></nav>
</body>
</html>