<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<header th:replace="components/header :: header "></header>

<body>
<nav th:replace="components/navbar :: nav_bar "></nav>

<div class="row">
    <div class="col-lg-12">
        <img th:src="@{${'/messi.jpg'}}" class="img-fluid" width="100%" />
        <img th:src="@{${'/mbappe.jpg'}}" class="img-fluid" width="100%" />
        <img th:src="@{${'/haaland.jpg'}}" class="img-fluid" width="100%" />
    </div>
</div>

<nav th:replace="components/navbar :: footer "></nav>


</body>
</html>